@charset "UTF-8";
#carouselExample .carousel-item img {
  max-height: 33.33vw;
  width: 100%;
  object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
}

#productCarousel .carousel-item img {
  max-height: 450px;
  width: auto;
  object-fit: contain;
}

.bg-light-custom {
  background-color: #f0f0f0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
  position: relative; /* Ensure position is relative for dropdown positioning */
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: box-shadow 0.3s ease-in-out;
}

.nav-link:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: dropdownFadeIn 0.3s ease-in-out forwards;
}

.dropdown-item {
  color: #333;
  padding: 10px 20px;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

@keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.cards-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0 30px;
}

.box-sizing-none {
  box-sizing: content-box;
}

.filtros-card-body {
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}

.custom-card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  background-color: #4B4B4B;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  color: #FFFFFF;
  transition: transform 0.3s, box-shadow 0.3s, height 0.3s;
  position: relative;
  padding: 10px;
  margin: 0 5px;
  max-width: 220px;
}
.custom-card:hover {
  transform: scale(1.1);
}
.custom-card .custom-card-img {
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
  object-fit: cover;
}
.custom-card .custom-card-body {
  padding: 15px;
}
.custom-card .custom-card-body .custom-card-precio {
  margin-bottom: 25px;
}
.custom-card .custom-card-body .custom-btn-view {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin-top: 25px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.3s;
  font-size: 0.9rem;
}

.card-container {
  perspective: 1000px;
}

.card-title-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente el título dentro del contenedor */
  align-items: center; /* Alinea el título verticalmente dentro del contenedor */
  height: 100%;
}

.pagos-row .col-md-4 {
  margin-bottom: 20px;
}

.card {
  width: 100%;
  height: 150px; /* Ajusta esta altura según tus necesidades */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1.2s;
  border-radius: 25px; /* Añade bordes redondeados a la tarjeta */
}

.card-flipped {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 25px; /* Asegúrate de que los bordes de las caras también estén redondeados */
}

.card-front {
  display: flex; /* Para centrar la imagen */
  align-items: center; /* Para centrar la imagen */
  justify-content: center; /* Para centrar la imagen */
}

.card-back {
  background-color: #4B4B4B; /* Color de fondo opcional */
  transform: rotateY(180deg);
  display: flex; /* Para centrar el contenido */
  align-items: center; /* Para centrar el contenido */
  justify-content: center; /* Para centrar el contenido */
}

.card-body {
  padding: 20px;
  text-align: center;
  border-radius: 25px; /* Añade bordes redondeados al cuerpo de la tarjeta */
}

.custom-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
  object-position: center; /* Centra la imagen dentro del contenedor */
  border-radius: 25px; /* Añade bordes redondeados a la imagen */
}

.letra-chica {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Centra horizontalmente el texto pequeño */
  font-size: 12px; /* Ajusta el tamaño del texto según sea necesario */
  color: #6c757d; /* Ajusta el color según el diseño */
}

.opinion-box {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con 90% de opacidad */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  z-index: 1;
}

.opinion-box::before {
  content: "👤"; /* Unicode for person icon */
  font-size: 24px; /* Icon size */
  position: absolute; /* Position the icon */
  top: 10px; /* Adjust top position */
  left: 10px; /* Adjust left position */
}

.section-overlay {
  position: relative;
  background: rgba(255, 255, 255, 0.8); /* Fondo blanco con 80% de opacidad */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-overlay h2 {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.opinion-box {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con 90% de opacidad */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  z-index: 1;
}

.opinion-box-left {
  margin-right: auto;
}

.opinion-box-right {
  margin-left: auto;
}

.filtros-card {
  background-color: #4B4B4B;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-check-label, .form-label {
  color: #FFFFFF;
}

.btn-custom {
  background-color: #00FF00;
  color: #2C2C2C;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn-custom:hover {
  background-color: #00CC00;
}

@media (min-width: 768px) {
  .card:hover {
    transform: rotateY(180deg);
  }
}
@media (max-width: 768px) {
  .custom-card {
    margin: 0 10px;
  }
  .custom-card:hover {
    transform: none;
  }
  .custom-card .custom-card-body .custom-btn-view {
    display: block;
  }
  /* Oculta el checkbox en el diseño de desktop */
  .expand-card-checkbox {
    display: none;
  }
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 100%;
    max-width: 300px; /* Ajusta el tamaño según tus necesidades */
    position: relative;
    cursor: pointer;
  }
  .card-content {
    overflow: hidden;
    height: 150px; /* Altura inicial de la tarjeta */
    transition: height 0.6s ease;
    position: relative;
  }
  .expand-card-checkbox:checked + .card .card-content {
    height: 300px; /* Altura cuando está expandida */
  }
  .card-back {
    position: absolute;
    top: 100%; /* Mueve el panel fuera del área visible */
    width: 100%;
    height: 100%;
    background-color: #4B4B4B; /* Color de fondo opcional */
    transition: top 0.6s ease;
  }
  .expand-card-checkbox:checked + .card .card-back {
    top: 0; /* Mueve el panel posterior a la vista */
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0 30px;
}

.bg-body-custom {
  background-color: #2C2C2C;
}

.titulo {
  color: #ffffff;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
