@charset "UTF-8";
#carouselExample .carousel-item img {
  max-height: 33.33vw;
  width: 100%;
  object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
}

#productCarousel .carousel-item img {
  max-height: 450px;
  width: auto;
  object-fit: contain;
}

.bg-light-custom {
  background-color: #f0f0f0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
  position: relative; /* Ensure position is relative for dropdown positioning */
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: box-shadow 0.3s ease-in-out;
}

.nav-link:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: dropdownFadeIn 0.3s ease-in-out forwards;
}

.dropdown-item {
  color: #333;
  padding: 10px 20px;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

@keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.cards-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0 30px;
}

.custom-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #f8f9fa;
  transition: transform 0.3s, box-shadow 0.3s, height 0.3s;
  position: relative;
  padding: 10px;
  margin: 0 5px;
  max-width: 220px;
}
.custom-card:hover {
  transform: scale(1.1);
}
.custom-card .custom-card-img {
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
  object-fit: cover;
}
.custom-card .custom-card-body {
  padding: 15px;
}
.custom-card .custom-card-body .custom-card-precio {
  margin-bottom: 5px;
}
.custom-card .custom-card-body .custom-btn-view {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.3s;
  font-size: 0.9rem;
}

.card-container {
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 300px; /* Ajusta el tamaño según tus necesidades */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-flipped {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #f8f9fa; /* Color de fondo opcional */
}

.card-back {
  background-color: #ffffff; /* Color de fondo opcional */
  transform: rotateY(180deg);
}

.card-body {
  padding: 20px;
  text-align: center;
}

.custom-card-img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .card:hover {
    transform: rotateY(180deg);
  }
}
@media (max-width: 768px) {
  .custom-card {
    margin: 0 10px;
  }
  .custom-card:hover {
    transform: none;
  }
  .custom-card .custom-card-body .custom-btn-view {
    display: block;
  }
  /* Oculta el checkbox en el diseño de desktop */
  .expand-card-checkbox {
    display: none;
  }
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 100%;
    max-width: 300px; /* Ajusta el tamaño según tus necesidades */
    position: relative;
    cursor: pointer;
  }
  .card-content {
    overflow: hidden;
    height: 150px; /* Altura inicial de la tarjeta */
    transition: height 0.6s ease;
    position: relative;
  }
  .expand-card-checkbox:checked + .card .card-content {
    height: 300px; /* Altura cuando está expandida */
  }
  .card-back {
    position: absolute;
    top: 100%; /* Mueve el panel fuera del área visible */
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Color de fondo opcional */
    transition: top 0.6s ease;
  }
  .expand-card-checkbox:checked + .card .card-back {
    top: 0; /* Mueve el panel posterior a la vista */
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0 30px;
}

/*# sourceMappingURL=style.css.map */
