.cards-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 30px; 
}
.box-sizing-none {
    box-sizing: content-box; 
}
.filtros-card-body {
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}

/* Cards productos */

.custom-card {    
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    background-color: #4B4B4B;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
    color: #FFFFFF;
    transition: transform 0.3s, box-shadow 0.3s, height 0.3s;
    position: relative;
    padding: 10px;
    margin: 0 5px; 
    max-width: 220px;

    &:hover {
        transform: scale(1.1);
    }

    .custom-card-img {
        width: 100%;
        height: 250px;
        margin-bottom: 15px;
        object-fit: cover;
    }

    .custom-card-body {
        padding: 15px;

        .custom-card-precio {
            margin-bottom: 25px;
        }

        .custom-btn-view {
            display: block;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: black;
            color: white;
            padding: 5px 10px;
            margin-top: 25px;
            text-decoration: none;
            border-radius: 4px;
            transition: opacity 0.3s;
            font-size: 0.9rem;
        }
    }
}

/* Promociones bancarias */

.promo-card {
    width: 100%;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.2s;
    border-radius: 25px;
    
    .card-front, .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card-back {
        background-color: #4B4B4B;
        transform: rotateY(180deg);
    }
    
    .card-flipped {
        transform: rotateY(180deg);
    }
}

.card-body {
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}


.custom-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.letra-chica {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #6c757d;
}

.card-container {
    perspective: 1000px;
}

.card-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pagos-row .col-md-4 {
    margin-bottom: 20px;
}

/* Opioniones */

.opinion-box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    z-index: 1;

    &::before {
        content: "👤";
        font-size: 24px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.opinion-box-left {
    margin-right: auto;
}

.opinion-box-right {
    margin-left: auto;
}

  
.section-overlay {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.section-overlay h2 {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

/* Filtros */


.filtros-card {
    background-color: #4B4B4B;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-check-label, .form-label {
    color: #FFFFFF;
}

.btn-custom {
    background-color: #365436;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-custom:hover {
    background-color: #719171;
}


@media (min-width: 768px) {
    .card:hover {
        transform: rotateY(180deg);
    }
}

@media (max-width: 768px) {
    .custom-card {
        margin: 0 10px;

        &:hover {
            transform: none;
        }

        .custom-card-body {
            .custom-btn-view {
                display: block;
            }
        }
    }

    .expand-card-checkbox {
        display: none;
    }

    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 300px;
        position: relative;
        cursor: pointer;
    }

    .card-content {
        overflow: hidden;
        height: 150px;
        transition: height 0.6s ease;
        position: relative;
    }

    .expand-card-checkbox:checked + .card .card-content {
        height: 300px;
    }

    .card-back {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 100%;
        background-color: #4B4B4B;
        transition: top 0.6s ease;
    }

    .expand-card-checkbox:checked + .card .card-back {
        top: 0;
    }
}
