#carouselExample {
    .carousel-item {
        img {
            max-height: calc(33.33vw);
            width: 100%;
            object-fit: cover;
        }
    }
    .carousel-control-prev, .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
        bottom: auto;
    }
}



#productCarousel {
    .carousel-item {
        img {
            max-height: 450px;
            width: auto;
            object-fit: contain;
        }
    }
}
