$bg-light-custom: rgb(32,35,37);
$primary-color: black;
$hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$dropdown-transition-speed: 0.3s;
$bg-body-custom: rgb(24,26,27); 
$font-primary: 'Roboto', sans-serif;
$primary-color: #3498db;
$secondary-color: #2ecc71;

