@import 'variables';
@import 'mixins';
@import 'carousel';
@import 'navbar';
@import 'cards';


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 30px; 
}

.bg-body-custom {
    background-color: rgb(24,26,27);;
  }



