@import 'variables';
@import 'mixins';
@import 'carousel';
@import 'navbar';
@import 'cards';


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 30px; 
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  
  
  .fade-in.is-visible {
    opacity: 1;
  }


  @keyframes fadeIn {
    to {
        opacity: 1;
    }
}
